.leaflet-top.leaflet-right {
  height: 100%;
}

.legend {
  padding: 1rem;
  min-width: 240px;
  max-width: 320px;
  max-height: 90%;
  overflow-y: scroll;
  background-color: #ffffff;
}

.legend__list {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.legend-item__icon {
  flex: 0 0 auto;
  display: flex;
  width: 0.75rem;
  height: 0.75rem;
}

.legend-item__icon > .legend-icon {
  border-radius: 0;
}

.legend-item__name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.75rem;
}

.legend-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  gap: 0.375rem;
}

.legend-icon-wrapper {
  display: flex;
}

.legend-icon {
  flex: 1 1 auto;
  display: flex;
  background-color: var(--color-legend-icon, gray);
  clip-path: var(--shape-legend-icon, circle(50% at 50% 50%));
}

.legend-icon > div {
  flex: 1 1 auto;
  clip-path: var(--shape-legend-icon, circle(50% at 50% 50%));
}
