.leaflet-infoWindow-container {
  font-family: inherit;
}

.info-layer-logos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.info-layer {
  font-size: 17px;
}

.leaflet-infoWindow .leaflet-content {
  padding-top: 2em;
}

.info-layer-logos .logo {
  display: block;
  max-width: 80%;
  height: auto;
}

.info-layer-logos .logo.Jordi {
  max-width: 60%;
}
